<%- layout("layouts/boilerplate") -%>
<% include ../partials/navbar-alt.ejs %>

<form class="m-5" action="/sermons" method="POST">
    <h2>Post an event</h2>
    <br>
    <div class="form-group">
        <label for="title">Event Title</label>
        <input type="text" class="form-control" placeholder="Enter Event Title" id="title" name="title">
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="dayOfWeek">Choose day of week</label>
            <select id="dayOfWeek" class="form-control">
                <option selected>Choose...</option>
              <option>Sunday</option>
              <option>Monday</option>
              <option>Tuesday</option>
              <option>Wednesday</option>
              <option>Thursday</option>
              <option>Friday</option>
              <option>Saturday</option>
            </select>
        </div>

        <div class="form-group col-md-6">
            <label for="time">Choose a time</label>
            <input id="time" class="form-control" placeholder="Choose Time" name="time">
        </div>
    </div>

    <!-- ACTIVITIES -->
    <div id="act-cont">

        <div class="form-row act-row">
            <div class="form-group col-md-6">
                <label class="act-label">Activity # 1</label>
                <input id="activity" class="form-control" placeholder="Enter Activity Name" name="activity[]">
            </div>
    
            <div class="form-group col-md-6">
                <label>&nbsp;</label>
                <input class="scheduleTime form-control" class="form-control" placeholder="Select Time" name="act-time[]">
            </div>
            
            <button type="button" class="ml-auto mr-1 btn btn-danger deleteBtn">DELETE</button>
        </div>
    
    </div>
    

    <button type="button" id="addAct" class="btn btn-primary">Add new activity</button>
    <br><br>

    <!-- MESSAGE -->
    <div class="form-group">
        <label for="msg">Message</label>
        <textarea class="form-control" placeholder="Enter Event Message" id="msg" name="msg"></textarea>
    </div>

    <!-- LINK -->
    <div class="form-group">
        <label for="link">Link</label>
        <input class="form-control" placeholder="Enter Event Link" id="link" name="link">
    </div>

    <!-- LOCATION -->
    <div id="loc-cont">

        <div class="form-group loc">
            <label>Location # 1</label>
            <input class="form-control" placeholder="Enter Location" name="location[]">
            <br>
            <div class="d-flex">
                <button type="button" class="ml-auto mr-1 btn btn-danger deleteLoc">DELETE</button>
            </div>
        </div>     

    </div>

    <button type="button" id="addLoc" class="btn btn-primary">Add new location</button>
    <br><br>

    <br>
    <div class="form-group">
        <button type="submit" class="btn btn-success">SUBMIT</button>
        <a type="button" href="/events" class="btn btn-secondary">CANCEL</a>
    </div>
</form>

<script src="/javascripts/events/new.js"></script>