<style>
    #footer-cont{
        background: #022D41;
        height: 15rem;
        color: white;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        letter-spacing: 0.1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem 0;
    }

    #footer-inner-cont{
        display: flex;
        /* border: 1px solid green; */
        justify-content: center;
        /* margin: auto 0; */
    }

    #footer-inner-cont > div{
        padding: 4rem 2rem;
    }

    #footer-address{
        border-right: 1px solid white;    
    }

    #footer-contact > div{
        margin: 0.7rem 0;
    }

    #trademark{
        text-align: center;
        color: white;
        font-size: 0.8rem;
        padding-top: 1rem;
    }

    #footer-social > i{
        font-size: 1.2rem !important;
        /* color: black !important; */
    }



</style>

<div id="footer-cont">

    <div id="footer-inner-cont">
        <div id="footer-address">
            Royal Gardens Community League <br> <br>
            4030 117 Street NW, <br>
            Edmonton, Alberta T6J 2W5 <br>
        </div>

        <div id="footer-contact">
            <div><i class="envelope outline icon" style="color: white;"></i> reformationedmonton@gmail.com</div>
            <div><i class="phone icon" style="color: white;"></i> +1 (780) 278-6076</div>
            <!-- <div id="footer-social">
                <i class="facebook icon"></i>
                <i class="youtube icon"></i>
            </div> -->
        </div>
    
    </div>
    <div id="trademark">© 2019 Reformed Baptist Church of Edmonton · All Rights Reserved · Created by eesayas</div>


</div>