<div id="footer-cont">
    <div id="footer-inner-cont">
        <div id="footer-address">
            Royal Gardens Community League <br> <br>
            4030 117 Street NW, <br>
            Edmonton, Alberta T6J 2W5 <br>
        </div>

        <div id="footer-contact">
            <div><i class="envelope outline icon" style="color: white;"></i> reformationedmonton@gmail.com</div>
            <div><i class="phone icon" style="color: white;"></i> +1 (780) 278-6076</div>
        </div>
    
    </div>
    <div id="trademark">© 2019 Reformed Baptist Church of Edmonton · All Rights Reserved · Created by eesayas</div>
</div>