<link rel="stylesheet" href="/stylesheets/partials/main-display.css">

<div id="main-display">
    <div style="background-image: url('/images/bible-study-event.JPG')" id="main-display-img"></div>
    <div id="main-display-gradient"></div>
    <p><%=subject%></p>
</div>