<div id="navbar-cont"> 
    <div id="logo-cont">
        <img src="/images/RBCE-LOGO-white.png">
    </div>

    <div id="links-cont">
        <a href="/about-us" class="link">our worship</a>
        <a href="/sermons" class="link">sermons</a>
        <a href="/events" class="link">events</a>
        <a href="/visit-us" class="link">visit us</a>
        <a href="/contact-us" class="ui button" id="contact-us-btn">contact us</a>
    </div>
</div>