<div id="navbar-cont-black"> 
    <div id="logo-cont-black">
        <img src="/images/RBCE-LOGO.png">
    </div>

    <div id="links-cont-black">
        <a href="/our-worship" class="link">our worship</a>
        <a href="/about-us" class="link">about us</a>
        <a href="/sermons" class="link">sermons</a>
        <a href="/events" class="link">events</a>
        <a href="/visit-us" class="link">visit us</a>
        <a href="/contact-us" class="ui button" id="contact-us-btn">contact us</a>
    </div>
</div>

<div id="nav-filler"></div>