<%- layout('layouts/boilerplate') -%>
<% include ./partials/navbar-black %>
<style>

    #about-cont{
        background-color: #F0EDED;
        padding-bottom: 2rem;
        /* border: 1px solid red; */
    }

    .cat{
        width: 50%;
        margin: 0 25%;
        padding: 2rem 0;
        /* padding-botto */
        /* border: 1px solid red; */
    }
    .cat-title{
        text-align:center;
        font-weight: 500;
        font-size: 2rem;
        margin: 2rem 0;
        letter-spacing: 0.5rem;
    }

    .cat-body{
        text-align: center;
        width: 80%;
        margin: 0 10%;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 1.2rem;
        line-height: 2rem;
        letter-spacing: 0.08rem;
    }

    .cat-body .list{
        text-align: left; 
        display: table; 
        margin: 0 auto; 
        color: #3d3d3d;
    }

    .cat-body .list span{
        font-style: italic;
    }

    #dan-prof{
        width: 30%;
        margin: 0 35%;
    }

</style>



<div id="about-cont">
    <div class="cat"> 
        <div class="cat-title">What can you expect?</div>
        <div class="cat-body">
            It is our desire to place the preaching and teaching of 
            God’s Word at the forefront of our time together in worship. 
            Worship consists of both singing, as a congregation, the 
            praises of our God and hearing from His inspired Word so that 
            we may: know God more, love God with greater affection each and 
            every day, and provoke ourselves to serving both God and one 
            another as we are sanctified through the work of the Holy 
            Spirit in obedience to the Word of God.
            <br>
            <br>
            It is our habit to begin our service with the singing of hymns, 
            followed by the preaching of God’s Word. We believe in the value 
            of expository preaching. Expository preaching is simply following 
            the complete body of the chosen text, verse by verse, to give us 
            an accurate and contextual understanding of what scripture is teaching.
            <br> 
            <br> 
            Following the “formal” part of the service, we take part in a meal together 
            followed by the singing of more hymns, songs and spiritual songs. We also 
            will spend time examining the sermon from that morning and then we will take 
            time to pray as a congregation for the church, God’s people, and other 
            requests as they are made known. 
        </div>
    
    </div>

    <div class="cat"> 
        <div class="cat-title">Distinctives</div>
        <div class="cat-body">
            We are evangelical in that we affirm the gospel of Jesus Christ, 
            as expressed in the inerrant Word of God, to be the means by which 
            the Holy Spirit of God brings those whom are called of God, to 
            eternal salvation. The gospel is to be preached and taught throughout 
            the world, as commanded by God, so that those appointed to salvation 
            might hear the saving truth of the good news of Jesus Christ. The 
            giving of the gospel is to be done freely and with love to all humanity 
            regardless of position, nationality or traditions.
            <br>
            <br>
            We hold firmly to the biblical truths which found their expression in 
            the Protestant Reformation. The main principles of the Reformation that 
            we embrace are what have come to be known as the Five Solas of the 
            Reformation and are based on the firm foundation of God’s Word.
            <br> 
            <br> 
            <div class="list">
                <ul>
                    <li><span>Sola Fide</span>, salvation is by faith alone</li>
                    <li><span>Sola Scriptura</span>, Scripture alone</li>
                    <li><span>Sola Gratia</span>, by grace alone</li>
                    <li><span>Solus Christus</span>, Christ alone</li>
                    <li><span>Soli Deo Gloria</span>, Glory to God alone</li>
                </ul>
            </div>
            <br>
            As a church, we affirm the soteriology or the doctrine of salvation that has been more commonly called, “Calvinism.” 
            <br> 
            <br>
            The faith that we hold finds its basis in the Word of God, which is inerrant 
            (without error in its original form), and sufficient for salvation, life and 
            godliness. It is through the Word of God that God reveals himself and shows 
            how we can know him. As God the Father, God the Son, and God the Holy Spirit 
            do not change, neither does the Word of God and the Word of God is the final 
            authority in all matters both temporal and spiritual. It is by the Word of God 
            that we can with certainty: know God, find salvation, know His will, and in 
            faith be obedient to that will.  As such we endeavor to place the preaching and 
            teaching of God’s Word at the forefront of our ministry. 
            <br> 
            <br>
            We believe that the church is made up of all those whom have been born again 
            through the ministry and work of the Holy Spirit, by the Word and will of God, 
            and in Christ Jesus. Jesus, who, being perfect and without sin, is the Word 
            made flesh and who dwelt among us, became the propitiation for the sins of His 
            people. As such, all who come to faith in Christ for their salvation are redeemed 
            by his redemptive work on Calvary when he bore the wrath of God on behalf of all 
            who put their faith in Him. Those who profess faith in Christ are to be baptized 
            in obedience to the Word of God as a confession of their faith and as a testimony 
            of their restored relationship with God. Those who do not have faith in Christ are 
            not saved and will face the judgement of God.
            <br>
            <br>
            In a world where there is much confusion regarding sexuality, we affirm the biblical 
            position that, in the beginning, “God created man in his own image….male and female 
            he created them.” As such, the role of men and women are distinct and complementarian. 
            Men and women are equal before the eyes of the Lord both in value and worth.

        </div>
    </div>

    <div class="cat"> 
        <div class="cat-title">Pastor/Teacher</div>
        <img id="dan-prof" src="/images/Dan.jpg">
        <br>
        <br>
        <div class="cat-body">
            Reformation Baptist Church’s Pastor/Teacher is Dan Burns. Dan is a tent making pastor, 
            working as a machinist in Edmonton while ministering at Reformation Baptist Church of 
            Edmonton. He has been involved in ministry since he came to the Lord 35 years ago. Over 
            the years Dan has been blessed to have received sound teaching in the Christian faith from 
            godly pastors, teachers and other brothers in Christ who have faithfully served their Lord 
            through the proclamation and teaching of scripture and godly example. Dan enjoys reading, 
            studying and the opportunities the Lord has given him to preach and teach.
            <br>
            <br>
            Dan is married to his wonderful wife Robin and they have four children. 
            Both Dan and Robin have been active in Christian service throughout their 
            marriage and having been called to served, are very happy to be a part of Reformation Baptist Church.
            <br> 
            <br> 
            <strong>Pastor’s Positional Statement concerning ministry.</strong>
            <br>
            <br>
            I hold that the ministry of God’s people, and those approved to serve him by divine and 
            human attestation, is to represent God and the supremacy and centrality of Jesus Christ 
            in every sphere of life. This Spirit empowered purpose of Christ’s people is chiefly for: 
            the glory of God, the proclamation of the gospel of Jesus Christ, the building up of His 
            church, for the common good of the church, the equipping of others for ministry, for encouragement, 
            and, if required, for the warning and discipline of those who would fall astray. This ministry is 
            to be carried out selflessly with love, with fear, and with respect for God’s Word so that the people 
            of God may know the hope to which they have been called.  True ministry is accomplished solely through 
            the grace of God and is not dependent on human ability or strength.
            <br>
            <br>
            <strong>Biblical Support: Scriptural basis for the conviction and belief</strong>
            <br>
            <div class="list">
                <ul>
                    <li><span>1 Corinthians 12:7,11</span> - Ministry is for the common good</li>
                    <li><span>1 Corinthians 12:28, Ephesians 4:11-13</span>  - Spirit provides and equips for ministry</li>
                    <li><span>Romans 12:3-8</span>  - Ministry is the work of God through the Spirit</li>
                    <li><span>Colossians 1:28</span>  - Ministry is to teach, encourage and warn believers</li>
                    <li><span>1 Thesselonians 2:8</span>  - Ministry is selfless</li>
                    <li><span>1 Corinthians 4:1-2</span> - Ministers as servants of Christ and stewards of the mysteries of God</li>
                    <li><span>1 Corinthians 9:16</span> - Ministers of God do so with fear and respect</li>
                    <li><span>1 Corinthians 15:10</span> - Ministry is accomplished through the grace of God</li>
                    <li><span>Ephesians 4:11-16</span> - Effects of equipping the saints for the work of God</li>
                </ul>
            </div>

        </div>
    
    </div>
</div>