<%- layout("layouts/boilerplate") -%>
<% include ./partials/navbar-alt.ejs %>
<% include ./partials/main-display.ejs %>

<style>
    @media screen and (max-width:735px) {
        .button-other {
            display: flex;
            flex-direction: column;
        }
    }
</style>

<div class="m-5">
    <blockquote class="blockquote">
        We are evangelical in that we affirm the gospel of Jesus Christ, 
        as expressed in the inerrant Word of God, to be the means by which 
        the Holy Spirit of God brings those whom are called of God, to 
        eternal salvation. The gospel is to be preached and taught throughout 
        the world, as commanded by God, so that those appointed to salvation 
        might hear the saving truth of the good news of Jesus Christ. The 
        giving of the gospel is to be done freely and with love to all humanity 
        regardless of position, nationality or traditions.
    </blockquote>
    <blockquote class="blockquote">
        We hold firmly to the biblical truths which found their expression in 
        the Protestant Reformation. The main principles of the Reformation that 
        we embrace are what have come to be known as the Five Solas of the 
        Reformation and are based on the firm foundation of God’s Word.
    </blockquote>
    <blockquote class="list blockquote">
        <ul>
            <li><span>Sola Fide</span>, salvation is by faith alone</li>
            <li><span>Sola Scriptura</span>, Scripture alone</li>
            <li><span>Sola Gratia</span>, by grace alone</li>
            <li><span>Solus Christus</span>, Christ alone</li>
            <li><span>Soli Deo Gloria</span>, Glory to God alone</li>
        </ul>
    </blockquote>
    <blockquote class="blockquote">
        As a church, we affirm the soteriology or the doctrine of salvation that has been more commonly called, “Calvinism.” 
    </blockquote> 
    <blockquote class="blockquote">
        The faith that we hold finds its basis in the Word of God, which is inerrant 
        (without error in its original form), and sufficient for salvation, life and 
        godliness. It is through the Word of God that God reveals himself and shows 
        how we can know him. As God the Father, God the Son, and God the Holy Spirit 
        do not change, neither does the Word of God and the Word of God is the final 
        authority in all matters both temporal and spiritual. It is by the Word of God 
        that we can with certainty: know God, find salvation, know His will, and in 
        faith be obedient to that will.  As such we endeavor to place the preaching and 
        teaching of God’s Word at the forefront of our ministry.
    </blockquote>
    <blockquote class="blockquote">
        We believe that the church is made up of all those whom have been born again 
        through the ministry and work of the Holy Spirit, by the Word and will of God, 
        and in Christ Jesus. Jesus, who, being perfect and without sin, is the Word 
        made flesh and who dwelt among us, became the propitiation for the sins of His 
        people. As such, all who come to faith in Christ for their salvation are redeemed 
        by his redemptive work on Calvary when he bore the wrath of God on behalf of all 
        who put their faith in Him. Those who profess faith in Christ are to be baptized 
        in obedience to the Word of God as a confession of their faith and as a testimony 
        of their restored relationship with God. Those who do not have faith in Christ are 
        not saved and will face the judgement of God.
    </blockquote>
    <blockquote class="blockquote">
        In a world where there is much confusion regarding sexuality, we affirm the biblical 
        position that, in the beginning, “God created man in his own image….male and female 
        he created them.” As such, the role of men and women are distinct and complementarian. 
        Men and women are equal before the eyes of the Lord both in value and worth.
    </blockquote>
</div>

<div class="d-flex">
    <div class="mx-auto button-other" role="group">
        <a class="btn btn-outline-dark m-2 btn-lg" href="/faith">Our Congregational Confession of Faith</a>
        <a class="btn btn-outline-dark m-2 btn-lg" href="/expectation">What can you expect?</a>
        <a class="btn btn-outline-dark m-2 btn-lg" href="/pastor">Pastor/Teacher</a>
    </div>
</div>
<br>