<%- layout('layouts/boilerplate') -%>

<div id="fullscreen-cont">
    <div id="main-display-cont">
        <img src="/images/congregation/congregation-1.JPG">
    </div>

    <div id="main-text-cont">
        <div>
            "In Him the whole structure being joined together, <br>
            grows into a holy temple in the Lord."
        </div>
        <div>Ephesians 2:21</div>

        <a class="ui button" id="join-us" href="/visit-us">join us</a>
    </div>

    <div id="next-event-cont">
        <div id="time-cont">

            <!--DAYS-->
            <div class="denom-cont">
                <div>
                    <div class="digit">04</div>
                    <div class="denom">days</div>
                </div>
            </div>

            <!--HOURS-->
            <div class="denom-cont">
                <div>
                    <div class="digit">06</div>
                    <div class="denom">hours</div>
                </div>
            </div>

            <!--MINUTES-->
            <div class="denom-cont">
                <div>
                    <div class="digit">12</div>
                    <div class="denom">minutes</div>
                </div>
            </div>

            <!--SECONDS-->
            <div class="denom-cont">

                <div>
                    <div class="digit">80</div>
                    <div class="denom">seconds</div>
                </div>
            </div>

        </div>

        <div id="text"><a href="/">until next event</a></div>

    </div>
</div>