<%- layout('layouts/boilerplate') -%>

<div>
    <% include ./partials/navbar.ejs %>
    <!-- MAIN DISPLAY -->
    <div class="fullscreen">
        <div class="backdrop w-100 h-100"></div>
        <div class="image-backdrop w-100 h-100"></div>
        <div class="main-display h-100">
            <div class="jumbotron">
                <h3 class="text-white lead">
                    <em>
                        "In Him the whole structure being joined together, grows into a holy temple in the Lord."
                    </em>
                </h3>
                <p class="lead text-white d-none d-sm-block">Ephesians 2:21</p>
                <br>
                <a class="btn btn-lg red-button rounded-0" href="#" role="button">ATTEND A SERVICE</a>
            </div>
        </div>
    </div>
    <!-- PANELS -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm panel-text">
                <div class="lead">
                    We conduct our morning worship service at 10:30am
                    every Sunday. The sermons are streamed live on this
                    website and uploaded to <a href="#">Youtube</a> afterwards.
                    <br><br>
                    <a href="#" class="text-dark">
                        <strong>
                            <span>View Sermons</span> 
                            <span class="font-weight-bold chevron">></span>
                        </strong>
                    </a>
                </div>
            </div>
            <div class="col-sm panel-pic d-none d-sm-block" style="background-image: url('/images/panel/sermon-panel-img.png')"></div>
        </div>
        <div class="row">
            <div class="col-sm panel-pic d-none d-sm-block" style="background-image: url('/images/panel/about-us-panel.JPG')"></div>
            <div class="col-sm panel-text">
                <div class="lead">
                    We are a Reformed Baptist Christian Church in Edmonton, Alberta.
                    You can click below to find out what we believe in, and get to know 
                    our ministry.
                    <br><br>
                    <a href="/expectation" class="text-dark">
                        <strong>
                            <span>What To Expect</span> 
                            <span class="font-weight-bold chevron">></span>
                        </strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--LOCATION-->
    <div class="location-cont">
        <div class="backdrop w-100 h-100"></div>
        <div class="location-image w-100 h-100" style="background-image: url('/images/mckernan.jpg')"></div>
        <div class="location-text text-white lead text-center w-100 px-4">
            Join us each Sunday at 10:30 am for our family worship time. 
            We are currently meeting at the Royal Gardens Community League small hall which is located at, 
            4033 117 St NW Edmonton.
            <br><br>
            <a class="btn btn-lg btn-outline-light rounded-0" href="#" role="button">PLAN YOUR VISIT</a>
        </div>
    </div>
    <!--EVENTS-->
    <div class="py-5">
        <h3 class="text-center font-weight-light">Events</h3>
        <br>
        <div class="d-flex justify-content-center flex-wrap flex-md-nowrap">
            <% for(let i = 0; i < 2; i++){ %>
            <div class="card mx-2 shadow-lg bg-white rounded my-4" style="width: 30rem;" role="button">
                <img class="card-img-top" src="/images/event/bible-study-event.JPG" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <% } %>
        </div>   
    </div>
</div>