<%- layout('layouts/boilerplate') -%>
<% include ./partials/navbar-black %>
<style>

    #about-cont{
        background-color: #F0EDED;
        padding-bottom: 2rem;
        /* border: 1px solid red; */
    }

    .cat{
        width: 50%;
        margin: 0 25%;
        padding: 2rem 0;
        /* padding-botto */
        /* border: 1px solid red; */
    }
    .cat-title{
        text-align:center;
        font-weight: 500;
        font-size: 2rem;
        margin: 2rem 0;
        letter-spacing: 0.5rem;
    }

    .cat-body{
        text-align: center;
        width: 80%;
        margin: 0 10%;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 1.2rem;
        line-height: 2rem;
        letter-spacing: 0.08rem;
    }

    .cat a{
        color: #3d3d3d;
        white-space: nowrap;
    }

    .cat-body .list{
        text-align: left; 
        display: table; 
        margin: 0 auto; 
        color: #3d3d3d;
    }

    .cat-body .list span{
        font-style: italic;
    }

    #dan-prof{
        width: 30%;
        margin: 0 35%;
    }

</style>



<div id="about-cont">
    <div class="cat"> 
        <div class="cat-title">Our Congregational Confession of Faith</div>
        <br>
        <div class="cat-body">
           <strong>I. The Word of God</strong>
           <br>
           <br>
           We believe that the Bible is the Word of God, fully inspired and 
           without error in the original manuscripts, written under the inspiration 
           of the Holy Spirit, and that it has supreme authority in all matters of faith and conduct.
           <br>
           <br>
           <!-- <span>Mark 13:31; John 8:31-32; 20:31; Acts 20:32; II Timothy 3:16; II Peter 1:20-21</span> -->

           <a href="https://biblia.com/bible/esv/mark/13/31">Mark 13:31</a>; 
           <a href="https://biblia.com/bible/esv/john/8/31-32">John 8:31-32</a>;
           <a href="https://biblia.com/bible/esv/john/20/31">John 20:31</a>; 
           <a href="https://biblia.com/bible/esv/acts/20/32">Acts 20:32</a>; 
           <a href="https://biblia.com/bible/esv/2-timothy/3/16">II Timothy 3:16</a>; 
           <a href="https://biblia.com/bible/esv/2-peter/1/20-21">II Peter 1:20-21</a>;
        </div>
        <br><br>
        <div class="cat-body">
           <strong>II. The One True God</strong>
           <br>
           <br>
            We believe in one living and true God, an infinite, simple, 
            and personal spirit, perfect in holiness, wisdom, power, and 
            love, who infallibly foreknows all that shall come to pass, 
            who concerns himself mercifully in the affairs of men, and who 
            hears and answers prayer.
           <br>
           <br>
           <a href="https://biblia.com/bible/esv/exodus/3/14-15">Exodus 3:14-15</a>; 
           <a href="https://biblia.com/bible/esv/exodus/34/6">Exodus 34:6</a>; 
           <a href="https://biblia.com/bible/esv/deuteronomy/5/26">Deuteronomy 5:26</a>;
           <a href="https://biblia.com/bible/esv/deuteronomy/6/4">Deuteronomy 6:4</a>;  
           <a href="https://biblia.com/bible/esv/1-chronicles/29/11">I Chronicles 29:11</a>; 
           <a href="https://biblia.com/bible/esv/psalm/6/9">Psalm 6:9</a>;
           <a href="https://biblia.com/bible/esv/psalm/139/7-10">Psalm 139:7-10</a>; 
           <a href="https://biblia.com/bible/esv/proverbs/3/19">Proverbs 3:19</a>;
           <a href="https://biblia.com/bible/esv/isaiah/6/3">Isaiah 6:3</a>;
           <a href="https://biblia.com/bible/esv/isaiah/28/29">Isaiah 28:29</a>;
           <a href="https://biblia.com/bible/esv/isaiah/41/21-28">Isaiah 41:21-28</a>;
           <a href="https://biblia.com/bible/esv/isaiah/42/10">Isaiah 42:10</a>;
           <a href="https://biblia.com/bible/esv/isaiah/45/21">Isaiah 45:21</a>;
           <a href="https://biblia.com/bible/esv/jeremiah/10/10">Jeremiah 10:10</a>;
           <a href="https://biblia.com/bible/esv/john/4/24">John 4:24</a>;
           <a href="https://biblia.com/bible/esv/1-timothy/2/5-6">I Timothy 2:5-6</a>;
           <a href="https://biblia.com/bible/esv/1-john/4/8">I John 4:8</a>;
        </div>
        <br><br>
        <div class="cat-body">
            <strong>III. God's Triune Nature</strong>
            <br>
            <br>
            We believe that the one God eternally exists in three infinitely excellent, 
            coequal, and distinct Persons: God the Father, fountain of all being; God the 
            Son, eternally begotten, not made, without beginning, being of one essence with 
            the Father; and God the Holy Spirit, proceeding in the full, divine essence, as 
            a Person, eternally from the Father and the Son. We believe that each Person in 
            the Godhead is fully and completely God, equal in every divine perfection, and 
            that they execute distinct but harmonious offices in the work of creation, 
            providence, and redemption.
            <br>
            <br>
            <a href="https://biblia.com/bible/esv/genesis/1/1-2">Genesis 1:1-2</a>;
            <a href="https://biblia.com/bible/esv/genesis/1/26">Genesis 1:26</a>;
            <a href="https://biblia.com/bible/esv/matthew/28/19">Matthew 28:19</a>;
            <a href="https://biblia.com/bible/esv/john/1/1">John 1:1</a>;
            <a href="https://biblia.com/bible/esv/john/1/3">John 1:3</a>;
            <a href="https://biblia.com/bible/esv/john/1/14">John 1:14</a>;
            <a href="https://biblia.com/bible/esv/john/4/24">John 4:24</a>;
            <a href="https://biblia.com/bible/esv/john/10/30">John 10:30</a>;
            <a href="https://biblia.com/bible/esv/john/15/26">John 15:26</a>;
            <a href="https://biblia.com/bible/esv/2-corinthians/13/14">II Corinthians 13:14</a>;
            <a href="https://biblia.com/bible/esv/ephesians/4/5-6">Ephesians 4:5-6</a>;
        </div>
        <br><br>
        <div class="cat-body">
            <strong>IV. The Person of Jesus Christ</strong>
            <br><br>
            We believe that God sent forth His eternal Son as Jesus the Messiah, conceived by 
            the Holy Spirit, born of the virgin Mary. We believe that God the Son became flesh, 
            taking on a fully human nature, so that two whole, perfect, and distinct natures were 
            inseparably joined together in one Person, without confusion or mixture. We believe 
            therefore that Jesus Christ was and is truly God and truly man, one Christ and the only 
            Mediator between God and man. We believe in his sinless life, miracles, and teachings, 
            his death on the cross and bodily resurrection, and his ascension to heaven and perpetual 
            intercession for his people.
            <br><br>
            <a href="https://biblia.com/bible/esv/matthew/1/18-25">Matthew 1:18-25</a>;
            <a href="https://biblia.com/bible/esv/matthew/20/28">Matthew 20:28</a>;
            <a href="https://biblia.com/bible/esv/luke/1/26-38">Luke 1:26-38</a>;
            <a href="https://biblia.com/bible/esv/john/1/1">John 1:1</a>;
            <a href="https://biblia.com/bible/esv/john/20/28-31">John 20:28-31</a>;
            <a href="https://biblia.com/bible/esv/acts/1/11">Acts 1:11</a>;
            <a href="https://biblia.com/bible/esv/romans/5/6-8">Romans 5:6-8</a>;
            <a href="https://biblia.com/bible/esv/romans/6/9-10">Romans 6:9-10</a>;
            <a href="https://biblia.com/bible/esv/romans/8/34">Romans 8:34</a>;
            <a href="https://biblia.com/bible/esv/romans/9/5">Romans 9:5</a>;
            <a href="https://biblia.com/bible/esv/2-corinthians/5/21">II Corinthians 5:21</a>;
            <a href="https://biblia.com/bible/esv/ephesians/1/4">Ephesians 1:4</a>;
            <a href="https://biblia.com/bible/esv/1-timothy/2/5-6">I Timothy 2:5-6</a>;
            <a href="https://biblia.com/bible/esv/1-timothy/3/16">I Timothy 3:16</a>;
            <a href="https://biblia.com/bible/esv/hebrews/7/25">Hebrews 7:25</a>;
            <a href="https://biblia.com/bible/esv/hebrews/9/28">Hebrews 9:28</a>;
            <a href="https://biblia.com/bible/esv/1-peter/2/21-23">I Peter 2:21-23</a>;
        </div>
        <br><br>
        <div class="cat-body">
            <strong>V. God’s Creation of Humanity</strong>
            <br><br>
            We believe that God created human beings in his own image and likeness to glorify and 
            enjoy him forever, and that from the beginning God made them either male or female, 
            equal as persons in value and worth and yet distinct from and complementary to one another. 
            We believe that these divinely ordained differences between male and female reflect God’s 
            original creation design and are meant for human good and flourishing in all areas of life. 
            We believe that God’s command is that sexual relations be preserved for and remain exclusive 
            to the divine institution of human marriage, which God ordained as the lifelong union of one 
            man to one woman as a picture of the unbreakable bond between Christ and his Bride the Church. 
            We believe that the surpassing worth of a human being as God’s image-bearer and the divine design 
            of each human being as male or female are to be acknowledged, honoured, and celebrated from the 
            moment of conception to natural death.
            <br><br>
            <a href="https://biblia.com/bible/esv/genesis/1/26-28">Genesis 1:26-28</a>;
            <a href="https://biblia.com/bible/esv/genesis/2/18-25">Genesis 2:18-25</a>;
            <a href="https://biblia.com/bible/esv/genesis/9/5-6">Genesis 9:5-6</a>;
            <a href="https://biblia.com/bible/esv/exodus/20/14">Exodus 20:14</a>;
            <a href="https://biblia.com/bible/esv/exodus/21/22-25">Exodus 21:22-25</a>;
            <a href="https://biblia.com/bible/esv/leviticus/18/20-23">Leviticus 18:20-23</a>;
            <a href="https://biblia.com/bible/esv/psalm/8/4-8">Psalm 8:4-8</a>;
            <a href="https://biblia.com/bible/esv/psalm/139/13-16">Psalm 139:13-16</a>;
            <a href="https://biblia.com/bible/esv/isaiah/43/7">Isaiah 43:7</a>;
            <a href="https://biblia.com/bible/esv/mark/10/6">Mark 10:6</a>;
            <a href="https://biblia.com/bible/esv/1-corinthians/6/9">I Corinthians 6:9</a>;
            <a href="https://biblia.com/bible/esv/ephesians/5/22-33">Ephesians 5:22-33</a>;
            <a href="https://biblia.com/bible/esv/1-timothy/2/13">I Timothy 2:13</a>;
            <a href="https://biblia.com/bible/esv/hebrews/13/4">Hebrews 13:4</a>;
        </div>
        <br><br>
        <div class="cat-body">
            <strong>VI. The Fall of Humanity</strong>
            <br><br>
            We believe that the first man, Adam, sinned and thereby brought physical, spiritual 
            and eternal death, which is separation from God, to all of his descendants. We believe 
            that, as a consequence, all human beings, save Jesus Christ alone, are born with a 
            sinful nature and sin by choice and are therefore under condemnation.
            <br><br>
            <a href="https://biblia.com/bible/esv/genesis/1/26">Genesis 1:26</a>;
            <a href="https://biblia.com/bible/esv/genesis/2/3">Genesis 2:3</a>;
            <a href="https://biblia.com/bible/esv/genesis/2/17">Genesis 2:17</a>;
            <a href="https://biblia.com/bible/esv/genesis/5/2">Genesis 5:2</a>;
            <a href="https://biblia.com/bible/esv/ecclesiastes/2/11">Ecclesiastes 2:11</a>;
            <a href="https://biblia.com/bible/esv/jeremiah/17/9">Jeremiah 17:9</a>;
            <a href="https://biblia.com/bible/esv/john/5/24">John 5:24</a>
            <a href="https://biblia.com/bible/esv/romans/3/19">Romans 3:19</a>;
            <a href="https://biblia.com/bible/esv/romans/5/19">Romans 5:19</a>;
            <a href="https://biblia.com/bible/esv/romans/9/22">Romans 9:22</a>;
            <a href="https://biblia.com/bible/esv/2-thessalonians/1/9">II Thessalonians 1:9</a>;
            <a href="https://biblia.com/bible/esv/james/1/14">James 1:14</a>;
            <a href="https://biblia.com/bible/esv/revelation/19/3">Revelation 19:3</a>;
            <a href="https://biblia.com/bible/esv/revelation/19/20">Revelation 19:20</a>;
            <a href="https://biblia.com/bible/esv/revelation/20/10">Revelation 20:10</a>;
            <a href="https://biblia.com/bible/esv/revelation/20/14-15">Revelation 20:14-15</a>;
        </div>
        <br><br>
        <div class="cat-body">
            <strong>VII. Jesus Christ’s Saving Work</strong>
            <br><br>
            We believe that by His perfect obedience to God and by His suffering and 
            sacrificial death as the perfect Lamb of God, Jesus Christ obtained forgiveness 
            of sins and the gift of perfect righteousness for all who trust in God through 
            Christ. We believe that Christ, through living a perfect life and dying in our 
            place as a propitiatory and substitutionary atonement for us, the just for the 
            unjust, absorbed our punishment and appeased the wrath of God against us. We 
            believe, moreover, that the death of Christ also obtained the omnipotent New 
            Covenant mercy of repentance and faith for God’s people.
            <br><br>
            <a href="https://biblia.com/bible/esv/john/1/29">John 1:29</a>;
            <a href="https://biblia.com/bible/esv/john/6/37">John 6:37</a>;
            <a href="https://biblia.com/bible/esv/romans/3/21-28">Romans 3:21-28</a>;
            <a href="https://biblia.com/bible/esv/romans/5/9">Romans 5:9</a>;
            <a href="https://biblia.com/bible/esv/romans/5/18-19">Romans 5:18-19</a>;
            <a href="https://biblia.com/bible/esv/romans/8/1-3">Romans 8:1-3</a>;
            <a href="https://biblia.com/bible/esv/1-corinthians/15/3">I Corinthians 15:3</a>;
            <a href="https://biblia.com/bible/esv/galatians/3/13">Galatians 3:13</a>;
            <a href="https://biblia.com/bible/esv/ephesians/1/7">Ephesians 1:7</a>;
            <a href="https://biblia.com/bible/esv/philippians/1/29">Philippians 1:29</a>;
            <a href="https://biblia.com/bible/esv/philippians/3/9">Philippians 3:9</a>;
            <a href="https://biblia.com/bible/esv/2-timothy/2/25">2 Timothy 2:25</a>;
            <a href="https://biblia.com/bible/esv/hebrews/9/15">Hebrews 9:15</a>;
            <a href="https://biblia.com/bible/esv/1-peter/2/24">I Peter 2:24</a>;
            <a href="https://biblia.com/bible/esv/1-peter/3/18">I Peter 3:18</a>;
            <a href="https://biblia.com/bible/esv/1-john/2/2">I John 2:2</a>;
            <a href="https://biblia.com/bible/esv/revelation/22/17">Revelation 22:17</a>;
        </div>
        <br><br>
        <div class="cat-body">
            <strong>VIII. The Holy Spirit’s Saving Work</strong>
            <br><br>
            We believe that the Holy Spirit proceeds from the Father and Son to convict the 
            world of sin, righteousness, and judgment, and to regenerate, sanctify, and empower 
            all who believe in Jesus Christ. We believe that the Holy Spirit indwells every 
            believer in Christ, and that He is an abiding helper, teacher and guide.
            <br><br>
            <a href="https://biblia.com/bible/esv/john/14/16-17">John 14:16-17</a>;
            <a href="https://biblia.com/bible/esv/john/14/26">John 14:26</a>;
            <a href="https://biblia.com/bible/esv/john/15/26-27">John 15:26-27</a>;
            <a href="https://biblia.com/bible/esv/john/16/7-14">John 16:7-14</a>;
            <a href="https://biblia.com/bible/esv/romans/8/9">Romans 8:9</a>;
            <a href="https://biblia.com/bible/esv/1-corinthians/3/16">I Corinthians 3:16</a>;
            <a href="https://biblia.com/bible/esv/1-corinthians/6/19">I Corinthians 6:19</a>;
            <a href="https://biblia.com/bible/esv/galatians/5/22-26">Galatians 5:22-26</a>;
        </div>
        <br><br>
        <div class="cat-body">
            <strong>IX. Regeneration</strong>
            <br><br>
            We believe that those who repent and forsake sin and trust Jesus Christ as Savior 
            have been regenerated by the Holy Spirit and have become new creatures, and so are 
            delivered from condemnation and receive eternal life.
            <br><br>
            <a href="https://biblia.com/bible/esv/deuteronomy/10/16">Deuteronomy 10:16</a>;
            <a href="https://biblia.com/bible/esv/deuteronomy/30/6">Deuteronomy 30:6</a>;
            <a href="https://biblia.com/bible/esv/jeremiah/31/33">Jeremiah 31:33</a>;
            <a href="https://biblia.com/bible/esv/ezekiel/36/26">Ezekiel 36:26</a>;
            <a href="https://biblia.com/bible/esv/john/1/13">John 1:13</a>;
            <a href="https://biblia.com/bible/esv/john/3/1-16">John 3:1-16</a>;
            <a href="https://biblia.com/bible/esv/john/5/24">John 5:24</a>;
            <a href="https://biblia.com/bible/esv/john/8/12">John 8:12</a>;
            <a href="https://biblia.com/bible/esv/john/10/26-28">John 10:26-28</a>;
            <a href="https://biblia.com/bible/esv/romans/8/1">Romans 8:1</a>;
            <a href="https://biblia.com/bible/esv/2-corinthians/5/17">II Corinthians 5:17</a>;
            <a href="https://biblia.com/bible/esv/hebrews/8/10">Hebrews 8:10</a>;
            <a href="https://biblia.com/bible/esv/hebrews/10/16">Hebrews 10:16</a>;
        </div>
        <br><br>
        <div class="cat-body">
            <strong>X. Justification</strong>
            <br><br>
            We believe that God freely justifies the ungodly by faith alone apart from works, 
            pardoning their sins, and reckoning them as righteous and acceptable in His presence. 
            We believe that faith is thus the sole instrument by which we, as sinners, are united 
            to Christ, whose perfect righteousness and satisfaction for sins is alone the ground 
            of our acceptance with God. We believe that the righteousness by which we come into 
            right standing with God is accomplished for us, outside ourselves, and is imputed to us.
            <br><br>
            <a href="https://biblia.com/bible/esv/jeremiah/23/5-6">Jeremiah 23:5-6</a>;
            <a href="https://biblia.com/bible/esv/romans/3/21-22">Romans 3:21-22</a>;
            <a href="https://biblia.com/bible/esv/romans/3/28">Romans 3:28</a>;
            <a href="https://biblia.com/bible/esv/romans/4/4-8">Romans 4:4-8</a>;
            <a href="https://biblia.com/bible/esv/romans/5/18-19">Romans 5:18-19</a>;
            <a href="https://biblia.com/bible/esv/2-corinthians/5/21">II Corinthians 5:21</a>;
            <a href="https://biblia.com/bible/esv/philippians/3/8-9">Philippians 3:8-9</a>;
            <a href="https://biblia.com/bible/esv/titus/3/5-7">Titus 3:5-7</a>;
        </div>
        <br><br>
        <div class="cat-body">
            <strong>XI. Sanctification</strong>
            <br><br>
            We believe that the faith by which, alone, one receives the gift of justification, 
            does not remain alone in the person so justified, but produces, by the Holy Spirit, 
            the fruit of love and leads necessarily to sanctification. We believe that faith that 
            does not yield the fruit of good works is dead, being no true faith.
            <br><br>
            <a href="https://biblia.com/bible/esv/acts/26/18">Acts 26:18</a>;
            <a href="https://biblia.com/bible/esv/romans/4/4-8">Romans 4:4-8</a>;
            <a href="https://biblia.com/bible/esv/galatians/5/22-23">Galatians 5:22-23</a>;
            <a href="https://biblia.com/bible/esv/colossians/1/4-5">Colossians 1:4-5</a>;
            <a href="https://biblia.com/bible/esv/2-thessalonians/2/13">II Thessalonians 2:13</a>;
            <a href="https://biblia.com/bible/esv/titus/2/11-14">Titus 2:11-14</a>;
            <a href="https://biblia.com/bible/esv/james/2/17-20">James 2:17-20</a>;
            <a href="https://biblia.com/bible/esv/james/2/26">James 2:26</a>;
            <a href="https://biblia.com/bible/esv/1-john/2/3-4">I John 2:3-4</a>;
            <a href="https://biblia.com/bible/esv/1-john/4/8">I John 4:8</a>;
            <a href="https://biblia.com/bible/esv/1-john/4/20">I John 4:20</a>;
        </div>
        <br><br>
        <div class="cat-body">
            <strong>XII. Christian Conduct</strong>
            <br><br>
            We believe that a Christian should live for the glory of God and the well-being 
            of his fellow men; that his conduct should be blameless before the world; that he 
            should be a faithful steward of his possessions; and that he should seek to realize 
            for himself and others the full stature of maturity in Christ.
            <br><br>
            <a href="https://biblia.com/bible/esv/matthew/22/39">Matthew 22:39</a>;
            <a href="https://biblia.com/bible/esv/john/14/15">John 14:15</a>;
            <a href="https://biblia.com/bible/esv/john/14/23-24">John 14:23-24</a>;
            <a href="https://biblia.com/bible/esv/romans/12/1-3">Romans 12:1-3</a>;
            <a href="https://biblia.com/bible/esv/1-corinthians/4/2">I Corinthians 4:2</a>;
            <a href="https://biblia.com/bible/esv/1-corinthians/10/31">I Corinthians 10:31</a>;
            <a href="https://biblia.com/bible/esv/2-corinthians/9/6-9">II Corinthians 9:6-9</a>;
            <a href="https://biblia.com/bible/esv/colossians/1/9-10">Colossians 1:9-10</a>;
            <a href="https://biblia.com/bible/esv/hebrews/12/1-2">Hebrews 12:1-2</a>;
            <a href="https://biblia.com/bible/esv/1-john/2/3-6">I John 2:3-6</a>;
        </div>
        <br><br>
        <div class="cat-body">
            <strong>XIII. The Church</strong>
            <br><br>
            We believe in the universal church, a living spiritual body of which Christ is the 
            head and all regenerated persons are members. We believe in the local church, 
            consisting of a company of believers in Jesus Christ, baptized in the name of the 
            Father and of the Son and of the Holy Spirit, and associated for worship, work, and 
            fellowship. We believe that God has laid upon the members of the local church the 
            primary task of giving the gospel of Jesus Christ to a lost world. We believe that 
            Christ’s atonement for sin warrants and impels a universal offering of the gospel to 
            all persons, so that to every person it may be truly said, “Whosoever will may come 
            for cleansing at this fountain of life, and whoever does come, Jesus will not cast out.” 
            We believe that local churches are called by biblical example and by their union in 
            Christ with the universal church to cooperate with one another in our mission to 
            proclaim the Kingdom on earth.
            <br><br>
            <a href="https://biblia.com/bible/esv/acts/1/8">Acts 1:8</a>;
            <a href="https://biblia.com/bible/esv/acts/2/42">Acts 2:42</a>;
            <a href="https://biblia.com/bible/esv/ephesians/2/19-22">Ephesians 2:19-22</a>;
            <a href="https://biblia.com/bible/esv/ephesians/5/19-21">Ephesians 5:19-21</a>;
            <a href="https://biblia.com/bible/esv/colossians/1/23">Colossians 1:23</a>;
            <a href="https://biblia.com/bible/esv/hebrews/10/23-25">Hebrews 10:23-25</a>;
        </div>
        <br><br>
        <div class="cat-body">
            <strong>XIV. The Ordinances</strong>
            <br><br>
            We believe that the Lord Jesus Christ has committed two ordinances to the local church, 
            baptism and the Lord's Supper. We believe that Christian baptism, performed in the name 
            of the Father and of the Son and of the Holy Spirit, is the sign of the New Covenant in 
            Christ and proclaims our union with him in his death and resurrection. We believe that 
            the Lord's Supper was instituted by Christ for commemoration of His death. We believe that 
            these two ordinances should be observed and administered until the return of the Lord 
            Jesus Christ.
            <br><br>
            <a href="https://biblia.com/bible/esv/matthew/28/18-20">Matthew 28:18-20</a>;
            <a href="https://biblia.com/bible/esv/romans/6/3-5">Romans 6:3-5</a>;
            <a href="https://biblia.com/bible/esv/1-corinthians/11/23-26">I Corinthians 11:23-26</a>;
        </div>
        <br><br>
        <div class="cat-body">
            <strong>XV. The Last Things</strong>
            <br><br>
            We believe in the personal and visible return of the Lord Jesus Christ to earth and 
            the establishment of His Kingdom. We believe in the resurrection of the body, the 
            final judgment, the eternal joy of the righteous and the endless suffering of the wicked.
            <br><br>
            <a href="https://biblia.com/bible/esv/matthew/16/27">Matthew 16:27</a>;
            <a href="https://biblia.com/bible/esv/mark/14/62">Mark 14:62</a>;
            <a href="https://biblia.com/bible/esv/john/14/3">John 14:3</a>;
            <a href="https://biblia.com/bible/esv/acts/1/11">Acts 1:11</a>;
            <a href="https://biblia.com/bible/esv/1-corinthians/4/5">I Corinthians 4:5</a>;
            <a href="https://biblia.com/bible/esv/1-corinthians/4/15">I Corinthians 4:15</a>;
            <a href="https://biblia.com/bible/esv/philippians/3/20">Philippians 3:20</a>;
            <a href="https://biblia.com/bible/esv/1-thessalonians/4/15">I Thessalonians 4:15</a>;
            <a href="https://biblia.com/bible/esv/2-thessalonians/1/7-10">II Thessalonians 1:7-10</a>;
            <a href="https://biblia.com/bible/esv/2-timothy/4/1">II Timothy 4:1</a>;
            <a href="https://biblia.com/bible/esv/titus/2/13">Titus 2:13</a>;
            <a href="https://biblia.com/bible/esv/revelation/20/4-6">Revelation 20:4-6</a>;
            <a href="https://biblia.com/bible/esv/revelation/20/11-15">Revelation 20:11-15</a>;
        </div>

    </div>
</div>