<%- layout("layouts/boilerplate") -%>
<% include ./partials/navbar-alt.ejs %>
<% include ./partials/main-display.ejs %>

<style>
    @media screen and (max-width:735px) {
        .button-other {
            display: flex;
            flex-direction: column;
        }
    }
</style>

<div class="m-5">
    <blockquote class="blockquote">
        Reformation Baptist Church’s Pastor/Teacher is Dan Burns. Dan is a tent making pastor, 
        working as a machinist in Edmonton while ministering at Reformation Baptist Church of 
        Edmonton. He has been involved in ministry since he came to the Lord 35 years ago. Over 
        the years Dan has been blessed to have received sound teaching in the Christian faith from 
        godly pastors, teachers and other brothers in Christ who have faithfully served their Lord 
        through the proclamation and teaching of scripture and godly example. Dan enjoys reading, 
        studying and the opportunities the Lord has given him to preach and teach.
    </blockquote>
    <blockquote class="blockquote">
        Dan is married to his wonderful wife Robin and they have four children. 
        Both Dan and Robin have been active in Christian service throughout their 
        marriage and having been called to served, are very happy to be a part of Reformation Baptist Church.
    </blockquote>
    <h3>Pastor’s Positional Statement concerning ministry.</h3>
    <blockquote class="blockquote">
        I hold that the ministry of God’s people, and those approved to serve him by divine and 
        human attestation, is to represent God and the supremacy and centrality of Jesus Christ 
        in every sphere of life. This Spirit empowered purpose of Christ’s people is chiefly for: 
        the glory of God, the proclamation of the gospel of Jesus Christ, the building up of His 
        church, for the common good of the church, the equipping of others for ministry, for encouragement, 
        and, if required, for the warning and discipline of those who would fall astray. This ministry is 
        to be carried out selflessly with love, with fear, and with respect for God’s Word so that the people 
        of God may know the hope to which they have been called.  True ministry is accomplished solely through 
        the grace of God and is not dependent on human ability or strength.
    </blockquote>
    <h3>Biblical Support: Scriptural basis for the conviction and belief</h3>
    <blockquote class="blockquote">
        <div class="list">
            <ul>
                <li><em>1 Corinthians 12:7, 11</em> - Ministry is for the common good</li>
                <li><em>1 Corinthians 12:28, Ephesians 4:11-13</em>  - Spirit provides and equips for ministry</li>
                <li><em>Romans 12:3-8</em>  - Ministry is the work of God through the Spirit</li>
                <li><em>Colossians 1:28</em>  - Ministry is to teach, encourage and warn believers</li>
                <li><em>1 Thesselonians 2:8</em>  - Ministry is selfless</li>
                <li><em>1 Corinthians 4:1-2</em> - Ministers as servants of Christ and stewards of the mysteries of God</li>
                <li><em>1 Corinthians 9:16</em> - Ministers of God do so with fear and respect</li>
                <li><em>1 Corinthians 15:10</em> - Ministry is accomplished through the grace of God</li>
                <li><em>Ephesians 4:11-16</em> - Effects of equipping the saints for the work of God</li>
            </ul>
        </div>
    </blockquote>
</div>

<div class="d-flex">
    <div class="mx-auto button-other" role="group">
        <a class="btn btn-outline-dark m-2 btn-lg" href="/faith">Our Congregational Confession of Faith</a>
        <a class="btn btn-outline-dark m-2 btn-lg" href="/expectation">What can you expect?</a>
        <a class="btn btn-outline-dark m-2 btn-lg" href="/distinctives">Distinctives</a>
    </div>
</div>
<br>