<%- layout("layouts/boilerplate") -%>
<% include ../partials/navbar-alt.ejs %>

<div class="mx-4 my-3">
    <div class="alert alert-success" role="alert">
        Submission successful!
        <ul>
            <li>We will see you on November 22, 2020 - Sunday.</li>
            <li>An email confirmation was sent to you.</li>
            <li>A reminder will be sent to your provided email 1 day before the event.</li>
        </ul>
    </div>

    <a type="button" href="/" class="btn btn-outline-success">OKAY</a>
</div>
