<%- layout('layouts/boilerplate') -%>
<% include ../partials/navbar-black %>

<div id="video-cont">
    <div id="prev">
        <div>
            <i class="chevron left icon"></i>
            <div id="prev-date-cont">
                <div>Jan 01 2020</div>
            </div>
        </div>
    </div>

    <div id="video">
        <iframe width="100%" height="100%" id="video-data"
        src="https://www.youtube.com/embed/LKXDiVyq68s?autoplay=1" 
        frameborder="0" allow="accelerometer; autoplay; 
        encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
        <!-- hello -->
    </div>

    <div id="next">
        <div>
            <div id="next-date-cont">
                <div>Jan 01 2020</div>
            </div>
            <i class="chevron right icon"></i>
        </div>
    </div>

</div>
