<%- layout("layouts/boilerplate") -%>
<% include ../partials/navbar-alt.ejs %>

<form class="m-5" action="/sermons" method="POST">
    <h2>Post a sermon</h2>
    <br>
    <div class="form-group">
        <label for="title">Sermon Title</label>
        <input type="text" class="form-control" placeholder="Enter Sermon Title" id="title" name="title">
    </div>

    <div class="form-group">
        <label for="desc">Sermon Description</label>
        <input type="text" class="form-control" placeholder="Enter Sermon Description" id="desc" name="desc">
    </div>

    <div class="form-group">
        <label for="url">Sermon Youtube Url</label>
        <input type="text" class="form-control" placeholder="Enter Sermon Youtube Url" id="url" name="url">
    </div>

    <div class="form-group">
        <label for="uploadDate">Youtube Upload Date</label>
        <input data-toggle="datepicker" name="uploadDate" placeholder="Pick a Date">
    </div>

    <br>
    <div class="form-group">
        <button type="submit" class="btn btn-success">SUBMIT</button>
        <a type="button" href="/sermons" class="btn btn-secondary">CANCEL</a>
    </div>
</form>

<script>
    $('[data-toggle="datepicker"]').datepicker();
</script>